@reference "../global.css";

*:not(div) {
  @apply transition-all;
}

/* div[data-state="open"] {
  @apply bg-transparent!;
} */

div[role="dialog"] {
  @apply bg-base-100/80!;
}

.chatbox {
  @apply bg-base-100;
}
